body {
  font-family: sans-serif;
  color: antiquewhite;
  background-color: rgb(26, 24, 32);
  padding: 5%;
}

.grid-container {
  display: grid;
  grid-template-areas: "profile content";
  column-gap: 20px;
  row-gap: 10px;
}

.profile {
  grid-area: profile;
  display: grid;
  grid-template-areas:
    "profile-pic name"
    "resume resume"
    "icon icon";
  column-gap: 10px;
  row-gap: 10px;
  position: sticky;
  padding-bottom: 1rem;

  align-self: start;
  align-content: center;
  justify-content: center;
}
.profile > div {
  background-color: brown;
}
.profile-pic {
  clip-path: circle();
  width: 140px;
}
.content {
  grid-area: content;
}
.menu {
  grid-area: icon;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icon {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 760px) {
  .grid-container {
    grid-template-areas:
      "profile"
      "content";
  }
}
